.container { 
  display: grid;
  grid-template-columns: 2rem auto 5rem;    
  margin: 0 0.875rem;
  padding: 1rem;
  background: var(--gray-500);
  border-radius: 8px;
  min-height: 5rem;  
  transition: box-shadow 0.5s; 
}

.container:hover {  
  box-shadow: 2px 2px 5px var(--purple-dark);  
}

.marker {
  display: flex;
  align-items: flex-start;  
}

.taskMarker {  
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1px solid var(--blue); 
  cursor: pointer; 
}

.taskMarkerDone {
  display: block;
  width: 1.2rem;
  height: 1.2rem;  
  border: none;
  background: url('../assets/check.svg') no-repeat; 
  cursor: pointer;  
}

.text {
  display: inline;
  align-items: flex-start;  
}

.taskText{  
  width: 100%;
  background: transparent;
  border: 0; 
  color: var(--gray-100);  
  cursor: pointer;
}

.taskTextDone {
  width: 100%;
  background: transparent;
  border: 0; 
  text-decoration: line-through;
  color: var(--gray-300);
  cursor: pointer; 
}

.taskText:focus,
.taskTextDone:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--gray-500);
}

.trash {
  display: flex;    
  justify-content: end;
  align-items: flex-start;  
}

.taskDelete {
  background: transparent;  
  border: none;
  color: var(--gray-100);  
  transition: color 0.5s;
}

.taskDelete:hover {
  color: var(--danger);
  cursor: pointer;
}

.taskTime {
  display: flex;
  margin-top: 0.5rem;
  grid-column: 1/-1;
  justify-content: end;  
  color: var(--gray-300);
}


