:root {
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;  
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --purple: #8284fa;
  --purple-dark: #5e60ce;

  --blue: #4ea8de;
  --blue-dark: #1e6f9f;

  --danger: #e25858;

  --toastify-color-light: #262626;
  --toastify-color-dark: #262626;
  --toastify-color-info: linear-gradient(to right, #4ea8de, #8284fa);
  --toastify-color-error: linear-gradient(to right, #e25858, #8284fa);
  --toastify-color-warning: linear-gradient(to right, #FBBB19, #8284fa);
  --toastify-color-success: linear-gradient(to right, #1CFB19, #8284fa);
  --toastify-icon-color-info: #4ea8de;
  --toastify-icon-color-error: #e25858;
  --toastify-icon-color-warning: #FBBB19;
  --toastify-icon-color-success: #1CFB19;  
  
  --toastify-text-color-light: #f2f2f2;
  --toastify-text-color-dark: #f2f2f2;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--purple-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-600);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

.Toastify__close-button {
  color: var(--gray-100);
}

